*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("../imagens/fundo_4.jpg");
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat; 
	background-color: black;
        font-family: arial;
        color: white;
}

input{

	display: block !important;
	height: 45px !important;
	width: 380px !important;
	margin: 15px !important;
	border-radius: 30px !important;
	border: 1px solid black !important;
	font-size: 10pt !important;
	padding: 10px 20px !important;
	outline: none !important;
}

div#corpo-form{
	/*background-color: red;*/
	width: 420px !important;
	margin: 150px auto 0px auto !important;
}

div#corpo-form-cad{
	/*background-color: red;*/
	width: 420px;
	margin: 80px auto 0px auto;
}

div#corpo-form h1{
	padding: 20px !important;
}

a{
	color: white;
	text-decoration: none;
	text-align: center;
	display: block !important;
}

a:hover{
	text-decoration: underline;
}

input[type="submit"]{
	background-color: #999999!important;
	border: none !important;
	color:white !important;
	cursor: pointer !important;
   
}

.link-form{
    margin-left: 20px;
    margin-top: 200px;
    float: left; 
    font-family: verdana;
    text-decoration: none;
    color: white;
 
}