*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("../imagens/fundo_4.jpg");
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat; 
	background-color: black;
    font-family: arial;
    color: white;
}

input{

	display: block;
	height: 45px;
	width: 380px;
	margin: 15px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 10pt;
	padding: 10px 20px;
	outline: none;
}

div#corpo-form{
	/*background-color: red;*/
	width: 420px;
	margin: 150px auto 0px auto;
}

div#corpo-form-cad{
	/*background-color: red;*/
	width: 420px;
	margin: 80px auto 0px auto;
}

div#corpo-form h1{
	padding: 20px;
}

a{
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
}

a:hover{
	text-decoration: underline;
}

input[type="submit"]{
	background-color: #999999;
	border: none;
	color:white;
	cursor: pointer;
}